@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
body {
  font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
#main {
  text-align: center;
  margin-top: 50px;
  direction: rtl;
}

#logo {
  color: green;
  margin-bottom: 20px;
  font-size: 17px;
}
#logo span {
  color: red;
}
#allok {
  background: url(img/rani.jpg) top center no-repeat;
  -webkit-transform: scale(0.80);
  height: 166px;
}
input {
  width: 250px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input:focus {
  border-color: #66AFE9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

#results {
  list-style: none;
  padding: 0;
}
#results li {
  color: red;
}
#results li .icon {
  font-size: 20px;
  margin-left: 7px;;
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #E7E7E7;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  color: #525151;
  direction: rtl;
}